<ion-pane>
	<ion-content>
		<div class="center row">
			<div>
				<h2>Question</h2>
				<div class="item item-input">
					<i class="icon ion-camera"
						ng-click="input.takePicture($event)">
					</i>
					<input type="text" placeholder="Type a question ... ">
					<i class="icon ion-mic-a"
						ng-click="input.speech($event)">
					</i>
				</div>
				<h2>Answer</h2>
				<div class="item item-input">
					<i class="icon ion-camera"
						ng-click="input.takePicture($event)">
					</i>
					<input type="text" placeholder="Type a question ... ">
					<i class="icon ion-mic-a"
						ng-click="input.speech($event)">
					</i>
				</div>

				<button class="button button-block">
					Add
				</button>
			</div>
		</div>
	</ion-content>
</ion-pane>
